.not-found-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    min-height: calc(100vh - var(--nav-height));
    background-color: var(--deep-champagne);
    padding: 1vh 10vw;
}