.book-card {
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    background-color: #ccc;
    /* width: 350px; */
    width: 300px;
    height: fit-content;
    /* padding: 5px; */
    /* box-sizing: border-box; */
    box-sizing: content-box;
    border: solid black 1px;
    border-radius: 10px;
}

.book-card:hover {
    /* width: 250px; */
    /* transform: scale(102%); */
    /* border: solid white 1px; */
    background-color: #eee;
    /* background-color: rgb(255, 255, 255); */
}

.top-book-card {
    width: 100%;
    padding: 0;
    margin: 0;
}

.img-book-card {
    /* min-width: 150px; */
    padding: 0;
    margin: 0;
    /* width: 200px; */
    width: 100%;
    /* min-width: 200px; */
    height: fit-content;
}

.text-book-card {
    text-align: left;
    /* width: 100%; */
    margin: 10px;
}

.book-card:hover .book-title {
    text-decoration: underline;
}

.book-card:hover .book-title{
    color: #555;
}

.book-btns {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 10px;
}


.btn-book-item {
    /* font-size: 1.2rem; */
    font-size: 1.8rem;
    /* color: white; */
    /* background-color: #555; */
    /* border: solid black 1px; */
}

.book-card:hover.btn-book-item:hover {
    color: #000;
}

.book-card button.btn-book-item:hover {
    background-color: #bbb;
}

@media screen and (max-width: 1235px) {
    .top-book-card {
        /* flex-direction: column; */
    }
}