.book-details-div {
    position: relative;
    display: flex;
    height: fit-content;
    min-height: calc(100vh - var(--nav-height));
    gap: 15px;
    font-weight: bold;
    background-color: antiquewhite;
    padding: 50px;
}

.btn.btn-back {
    position: fixed;
    top: 15px;
    left: 10px;
    font-size: 18px;
    background-color: var(--brown-yellow);
    border: solid #fff 1px;
    z-index: 1;
}

.btn.btn-back:hover {
    color: #fff;
    font-weight: bold;
    background-color: var(--dark-gold);
    border: solid black 1px;
}

.img-details {
    height: 25vw;
    min-height: 300px;
}

.text-details {
    flex-grow: 1;
    padding: 5px;
}

.btns-details {
    display: flex;
    align-items: baseline;
    gap: 5%;
    width: 100%;
    background-color: var(--deep-champagne);
    padding: 5px;
    border-radius: 15px;
    margin: 10px;
}

@media screen and (max-width: 1000px) {
    .book-details-div {
        flex-direction: column;
        gap: 5px;
        padding: 5px;
    }

    .btns-details {
        flex-direction: column;
        gap: 3px;
    }

    .btns-details .book-btns {
        flex-direction: row;
    }

    .img-details {
        width: fit-content;
        max-width: 95vw;
    }
}

@media screen and (max-width: 300px) {
    .btn.btn-back {
        display: none;
    }
}