.books-header {
    display: grid;
    column-gap: 5%;
    justify-content: space-between;
    position: sticky;
    top: var(--nav-height);
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--seal-brown);
    z-index: 1;
}

.button-bar {
    grid-row: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

.btn.btn-top {
    color: #fff;
    font-family: monospace;
    height: auto;
    width: fit-content;
    margin: 10px;
    border: solid white 1px;
    background-color: var(--cafe-noir);
}

.btn.btn-top:hover,
.btn.btn-top.btn-active {
    color: #000;
    background-color: var(--brown-yellow);
    font-weight: bold;
}

.btn.btn-top:hover,
.btn.btn-top.btn-active:hover {
    border: solid #fff 1px;
}

.btn.btn-top.btn-active {
    border: solid #000 1px;
}

.btn-expand {
    display: none;
}

.filters {
    grid-row: 2;
    grid-column: 1 / span 2;
    display: flex;
    justify-content: right;
}

.filter-div {
    display: flex;
    padding: 5px;
    background-color: var(--cafe-noir);
    width: fit-content;
    border: solid #fff 1px;
    border-radius: 10px;
    margin: 5px;
}

.hide,
button.btn.btn-top.hide {
    display: none;
}

.search-bar {
    grid-row: 1;
    display: flex;
    flex-wrap: nowrap;
    font-size: 1.5rem;
    width: fit-content;
    height: fit-content;
    max-width: 80%;
    margin: 10px auto;
}

.search-bar * {
    font-weight: 500;
}

.search-bar input {
    text-indent: 5px;
    max-width: 50vw;
    border-radius: 10px 0 0 10px;
}

.search-bar button {
    color: #fff;
    border: solid #fff 1px;
    background-color: var(--cafe-noir);
    border-radius: 0 10px 10px 0;
}

.search-bar button:hover {
    color: #000;
    background-color: var(--brown-yellow);
}

.bg-dark-gray {
    background-color: #222;
}

@media screen and (max-width: 830px) {
    .top-books-header {
        flex-direction: row;
    }

    .button-bar {
        grid-row: 1 / span 2;
        flex-direction: column-reverse;
        z-index: 1;
    }

    .hide-if-narrow {
        display: none;
    }

    .btn.btn-top {
        font-size: .9rem;
    }

    .btn.btn-top.btn-expand {
        display: block;
        font-size: 2rem;
        padding: 0 5px 0 8px;
        line-height: 1rem;
    }

    .filters {
        grid-column: 1;
        flex-direction: column;
        font-size: 1rem;
        width: fit-content;
    }

    .filter-div {
        width: 100%;
        justify-content: space-between;
    }
}

@media screen and (max-width: 450px) {

    .books-header {
        margin-bottom: 2px;
        padding: 0;
    }

    .filter-div,
    .btn.btn-top {
        font-size: 0.8rem;
    }

    .search-bar {
        font-size: 1rem;
    }

    .btn.btn-top {
        font-size: 0.7rem;
        padding: 5px;
    }

    .btn.btn-top.btn-expand {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 300px) {

    .books-header *,
    .btn.btn-top {
        font-size: 0.5rem;
    }

    .btn.btn-top {
        padding: 1px;
        margin: 1px;
    }

    .filter-div {
        padding: 2px;
        margin: 0;
    }

    .filters * {
        font-size: 0.4rem;
    }
}