.books-header {
    position: sticky;
    top: var(--nav-height);
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--seal-brown);
    z-index: 1;
}

.top-books-header {
    display: flex;
}

.button-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 15px; */
}

.btn.btn-top {
    color: #fff;
    font-family: monospace;
    height: auto;
    width: fit-content;
    margin: 10px;
    border: solid white 1px;
    background-color: var(--cafe-noir);
}

.btn.btn-top:hover {
    color: #000;
    background-color: var(--brown-yellow);
    border: solid white 1px;
}

.btn-expand {
    display: none;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    font-size: 1.2rem;
    gap: 5%;
    border-radius: 0 10px 10px 0;
}

.filters div {
    display: flex;
    gap: 10px;
    padding: 5px;
    background-color: var(--cafe-noir);
    border: solid #fff 1px;
    border-radius: 10px;
    margin: 5px;
}

.hide, button.hide {
    display: none;
}

.search-bar {
    display: flex;
    flex-wrap: nowrap;
    font-size: 1.5rem;
    width: fit-content;
    height: fit-content;
    max-width: 80%;
    margin: 10px auto;
}

.search-bar * {
    font-weight: 500;
}

.search-bar input {
    text-indent: 5px;
    max-width: 50vw;
    border-radius: 10px 0 0 10px;
}

.search-bar button {
    color: #fff;
    border: solid #fff 1px;
    background-color: var(--cafe-noir);
    border-radius: 0 10px 10px 0;
}

.search-bar button:hover {
    color: #000;
    background-color: var(--brown-yellow);
}

.bg-dark-gray {
    background-color: #222;
}

@media screen and (max-width: 950px) {
    /* .top-books-header {
        flex-direction: column;
    } */

    /* .filters {
        margin-top: 25px;
    } */
}

@media screen and (max-width: 785px) {
    .top-books-header {
        flex-direction: row;
    }

    .button-bar {
        flex-direction: column-reverse;
        z-index: 1;
    }
    
    .hide-if-narrow {
        display: none;
    }

    .btn-expand {
        display: block;
        font-size: 2rem;
        padding: 0 5px 0 8px;
        line-height: 1rem;
    }

    /* .filters {
        position: absolute;
        top: 80px;
        justify-content: flex-start;
        max-width: 70%;
    } */
}

@media screen and (max-width: 450px) {

    .books-header {
        margin-bottom: 2px;
        padding: 0;
    }

    .filters div,
    .btn.btn-top {
        font-size: 0.8rem;
    }

    .search-bar {
        font-size: 1rem;
    }
/* 
    .filters {
        top: 55px;
    } */

    .btn.btn-top {
        font-size: 0.7rem;
        padding: 5px;
    }

    .btn.btn-top.btn-expand {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 300px) {

    .books-header *,
    .btn.btn-top {
        font-size: 0.5rem;
    }

    .button-bar {}

    .btn.btn-top {
        padding: 1px;
        margin: 1px;
    }

    /* .filters {
        background: var(--seal-brown);
        top: 35px;
        /* height: 8px; */
     */

    .filters div {
        padding: 2px;
        margin: 0;
    }

    .filters * {
        font-size: 0.4rem;
    }
    
    /* .search-bar * {
        font-size: 0.5rem;
    } */
}