.App {
  min-height: 100vh;
  background-image: url(./images/library.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.disable-background {
  pointer-events: none;
  filter: blur(1px);
  opacity: 0.9;
  background: rgba(0, 0, 0, 0.5);
}


.overflow-hidden {
  overflow: hidden;
}

:root {
  --nav-height: 40px;
  --nav-padding: 8px;
  --crayolas-tan: #DF9D6C;
  --raw-sienna: #D0814E;
  --deep-champagne: #F7D3AA;
  --chamoisee: #9F7159;
  --rose-ebony: #634739;


  --seal-brown: #592b14;
  --russet: #7b3f21;
  --chestnut: #8d4f2c;
  --dark-gold: #a36740;
  --brown-yellow: #c58f5f;
  --cafe-noir: #523828;
}