.book-card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-sizing: content-box;
    text-align: center;
    width: 250px;
    height: fit-content;
    background-color: #ccc;
    border: solid black 1px;
    border-radius: 10px;
}

.not-selecting.book-card:hover {
    background-color: #eee;
}

.faded {
    opacity: 85%;
}

.book-selected {
    background-color: #fff;
}

.selected-icon {
    position: absolute;
    top: 3%;
    right: 5px;
    font-size: 2rem;
    background-color: #fff;
    line-height: 1rem;
    border: solid white 2px;
    border-radius: 5px;
}

.top-book-card {
    width: 100%;
    padding: 0;
    margin: 0;
}

.img-book-card {
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 25vw;
    height: fit-content;
}

.text-book-card {
    text-align: left;
    margin: 10px;
}

.not-selecting.book-card:hover .book-title {
    text-decoration: underline;
    color: #555;
}

@media screen and (max-width: 500px) {
    .book-card {
        display: flex;
        width: 98%;
    }

    .top-book-card {
        display: flex;
    }

    .img-book-card {
        width: 30%;
    }

    .text-book-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        width: 70%;
        margin: 5px;
    }

    .book-card hr {
        display: none;
    }

    .book-btns {
        flex-direction: column;
        width: fit-content;
        gap: 10%;
    }

    .btn-book-item {
        padding: 0;
        margin: 0;
        width: fit-content;
    }
}

@media screen and (max-width: 400px) {
    .book-card * {
        font-size: 0.8rem;
        line-height: 0.8rem;
    }

    .book-btns * {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 300px) {
    .book-card * {
        font-size: 0.5rem;
    }
}